<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/machine_learning/assets/css/custom.css" />
</head>
<body>

  <h1>{{ page.title }}</h1>

  {{ content }}

  <footer class="license">
    © 2025 Mireia Consarnau  
    <br/>
    Este curso se distribuye bajo la licencia
    <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/">Creative Commons BY-NC-SA 3.0 ES</a>
    <br/>
    <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/">
      <img src="https://i.creativecommons.org/l/by-nc-sa/3.0/es/88x31.png" alt="Licencia CC BY-NC-SA 3.0 ES" />
    </a>
  </footer>

</body>
</html>
